{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<table class="score">
    <tr>
        <td style="text-align: center;"><b>
        {% if in_progress %}
            {% if inning % 2 == 1 %}
                Top {{ inning // 2 + 1}}
            {% else %}
                Bottom {{ inning // 2}}
            {% endif %}
        {% else %}
            Final
        {% endif %}</b>
        </td>
        {% for i in range(1, total_innings + 1) %}
            <td><b>{{ i }}</b></td>
        {% endfor %}
        {% if inning > total_innings*2 %}
            {% for i in range(total_innings+1, (inning+3) // 2) %}
                <td><b>{{ i }}</b></td>
            {% endfor %}
        {% endif %}
        <td><b>R</b></td>
        <td><b>H</b></td>
    </tr>
    <tr>
        <td><b>{{ a_team[1] }}</b></td>
        {% for i in range(0, inning, 2) %}
            <td>{{ runs_inning[i] }}</td>
        {% endfor %}
        {% for i in range((total_innings*2 - inning) // 2) %}
        <td> </td>
        {% endfor %}
        <td>{{ runs_away }}</td>
        <td>{{ hits_away }}</td>
    </tr>
    <tr>
        <td><b>{{ h_team[1] }}</b></td>
        {% for i in range(1, inning, 2) %}
            <td>{{ runs_inning[i] }}</td>
        {% endfor %}
        {% if inning % 2 == 0 %}
            {% for i in range((total_innings*2 - inning) // 2) %}
            <td> </td>
            {% endfor %}
        {% else %}
        {% for i in range((total_innings*2 + 1 - inning) // 2) %}
            <td> </td>
        {% endfor %}
        {% endif %}
        {% if inning > total_innings*2 and inning % 2 == 1 %}
            <td> </td>
        {% endif %}
        <td>{{ runs_home }}</td>
        <td>{{ hits_home }}</td>
    </tr>
</table>
<br>

{% if in_progress %}
    <div class="center-align">
        <form action="/games/{{ id }}" method="POST">
            <input type="hidden" name="end_inning">
            <input id="button" type="submit" value="End Inning">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
{% endif %}

{% if in_progress %}
<fieldset class="game">
    <div class="fieldset-item">
        {{ outs }}
        {% if outs == 1 %}
            Out
        {% else %}
            Outs
        {% endif %}<br>
        {{ count[0] }} - {{ count[1] }}
    </div>
    <form action="/games/{{ id }}" method="POST">
        <label for="pitch"><b>Pitch result: </b></label>
        <select name="pitch">
            {% for result in pitch_results %}
                <option value="{{ result }}">{{ result }}</option>
            {% endfor %}
        </select>
        {% if runners|length > 0 %}<br><br>
            If the batter walks or hits a home run, runners will be moved automatically.<br>
            In case of a fielder's choice, make sure to mark which runner is out.<br><br>
            {% for runner in runners %}
                <label for="runner{{ runner[1] }}"><b>Runner on {{ runner[1] }}: </b></label>
                <select name="runner{{ runner[1] }}">
                    <option value="({{ runner[0] }}_{{ runner[1] }})">Stayed</option>
                    <option value="({{ runner[0] }}_0)">Out</option>
                    {% if runner[1] == 1 %}
                        <option value="({{ runner[0] }}_2)">2nd</option>
                    {% endif %}
                    {% if runner[1] == 1 or runner[1] == 2 %}
                        <option value="({{ runner[0] }}_3)">3rd</option>
                    {% endif %}
                    <option value="({{ runner[0] }}_4)">Scored</option>
                </select>
                <br>
            {% endfor %}
            <br>
        {% endif %}
        <input id="login-button" type="submit" value="Submit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</fieldset>
<br>
<fieldset class="game">
    <div class="fieldset-item">
        <b>Pitcher:</b> {{ pitcher[1] }}<br>
        <b>Pitches:</b> {{ pitch_count }}
    </div>
    <form action="/games/{{ id }}" method="POST">
        <select name="new_pitcher">
            <option value="0">Change</option>
            {% for player in p_players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>
        <input id="login-button" type="submit" value="Change">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <div class="fieldset-item">
        <b>Batter:</b> {{ batter[1] }}
    </div>
    <div class="fieldset-item">
        Today: {{ batter_stats[0] }} for {{ batter_stats[1] }}
    </div>
    <div class="fieldset-item">
        <b>On deck:</b> {{ on_deck[1] }}
    </div>
    <div class="fieldset-item">
        Today: {{ on_deck_stats[0] }} for {{ on_deck_stats[1] }}
    </div>
</fieldset>
{% endif %}

{% endblock %}