<link rel="stylesheet" href="/static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>WiffleMaster - {% block title %}{% endblock %}</title>

<body>
    <div class="header">
        <h1>WiffleMaster</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/leagues">Leagues</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/rules">Rules</a></li>
            {% if session.user_id %}
            <li class="right-nav"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="right-nav"><a href="/login">Login</a></li>
            <li class="right-nav"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
<hr>