{% extends "layout.html" %}
{% block title %}{{ league[1] }}{% endblock %}

{% block content %}
<h2>{{ league[1] }}</h2>
<table class="score">
    <tr>
        <td><b>Team</b></td>
        <td><b>Wins</b></td>
        <td><b>Losses</b></td>
        <td><b>Win pct.</b></td>
        <td><b>GB</b></td>
    </tr>
    {% for team in table %}
    <tr>
        <td><a href="/teams/{{ team.id }}">{{ team.name }}</a></td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ '%.3f' % team.win_pct }}</td>
        <td>{{ (team.losses - first_losses + first_wins - team.wins) / 2 }}</td>
    </tr>
    {% endfor %}
</table>
{% if session.user_id %}
    <h3>Add team</h3>
    <form id="players" action="/leagues/{{ league[0] }}" method="POST">
        <label for="team">Choose a team: </label>
        <select name="team">
        {% for team in others %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endfor %}
        </select>
        <input id="button" type="submit" value="Add team">
    </form>
    <br>
{% endif %}
{% endblock %}