{% extends "layout.html" %}
{% block title %}{{ league[1] }}{% endblock %}

{% block content %}
{% if error_message %}
    {{ error_message }}
{% endif %}
<h2>{{ league[1] }}</h2>
<table class="score">
    <tr>
        <td><b>Team</b></td>
        <td><b>Wins</b></td>
        <td><b>Losses</b></td>
        <td><b>Win pct.</b></td>
        <td><b>GB</b></td>
    </tr>
    {% for team in table %}
    <tr>
        <td><a href="/teams/{{ team.id }}">{{ team.name }}</a></td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ '%.3f' % team.win_pct }}</td>
        <td>{{ (team.losses - first_losses + first_wins - team.wins) / 2 }}</td>
    </tr>
    {% endfor %}
</table>

{% if session.user_id %}
    <h3>Add team</h3>
    <form id="players" action="/leagues/{{ league[0] }}" method="POST">
        <label for="team">Choose a team: </label>
        <select name="team">
        {% for team in others %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endfor %}
        </select>
        <input id="button" type="submit" value="Add team">
    </form>
    <br>
{% endif %}

<h3>League leaders</h3>
<br>
<b>Batting</b>
<br><br>
<form action="/leagues/{{ league[0] }}" method="POST">
    <label for="sort">Sort by: </label>
    <select name="sort">
        {% for value in batting_values %}
            <option value="{{ value }}" {% if sort == value %} selected {% endif %}>{{ value | upper }}</option>
        {% endfor %}
    </select>
    <select name="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <label for="batting_size">Table size: </label>
    <select name="batting_size">
        <option value="10" {% if batting_size == 10 %} selected {% endif %}>10</option>
        <option value="30" {% if batting_size == 30 %} selected {% endif %}>30</option>
        <option value="50" {% if batting_size == 50 %} selected {% endif %}>50</option>
    </select>
    <label for="page">Page: </label>
    <select name="page">
        {% for i in range(1, len_batting // batting_size + 2) %}
        <option value="{{ i }}" {% if page == i %} selected {% endif %}>{{ i }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" id="button" value="Sort">
</form>
<table class="score">
    <tr>
        <td><b>Player</b></td>
        <td><b>G</b></td>
        <td><b>PA</b></td>
        <td><b>AB</b></td>
        <td><b>H</b></td>
        <td><b>XBH</b></td>
        <td><b>HR</b></td>
        <td><b>RBI</b></td>
        <td><b>BB</b></td>
        <td><b>AVG</b></td>
        <td><b>OBP</b></td>
        <td><b>SLG</b></td>
        <td><b>OPS</b></td>
    </tr>
    {% for player in batting_leaders %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.g }}</td>
            <td>{{ player.pa }}</td>
            <td>{{ player.ab }}</td>
            <td>{{ player.hits }}</td>
            <td>{{ player.xbh }}</td>
            <td>{{ player.hr }}</td>
            <td>{{ player.rbi }}</td>
            <td>{{ player.walks }}</td>
            <td>{{ '%.3f' % player.avg }}</td>
            <td>{{ '%.3f' % player.obp }}</td>
            <td>{{ '%.3f' % player.slg }}</td>
            <td>{{ '%.3f' % player.ops }}</td>
        </tr>
    {% endfor %}
</table>
<br>

<b>Pitching</b>
<br><br>

<form action="/leagues/{{ league[0] }}" method="POST">
    <label for="sort2">Sort by: </label>
    <select name="sort2">
        {% for value in pitching_values %}
            <option value="{{ value }}" {% if sort2 == value %} selected {% endif %}>{{ value | upper }}</option>
        {% endfor %}
    </select>
    <select name="order2">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <label for="pitching_size">Table size: </label>
    <select name="pitching_size">
        <option value="10" {% if pitching_size == 10 %} selected {% endif %}>10</option>
        <option value="30" {% if pitching_size == 30 %} selected {% endif %}>30</option>
        <option value="50" {% if pitching_size == 50 %} selected {% endif %}>50</option>
    </select>
    <label for="page2">Page: </label>
    <select name="page2">
        {% for i in range(1, len_pitching // pitching_size + 2) %}
        <option value="{{ i }}" {% if page2 == i %} selected {% endif %}>{{ i }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" id="button" value="Sort">
</form>
<table class="score">
    <tr>
        <td><b>Player</b></td>
        <td><b>G</b></td>
        <td><b>IP</b></td>
        <td><b>K</b></td>
        <td><b>K/9</b></td>
        <td><b>BB</b></td>
        <td><b>BB/9</b></td>
        <td><b>BAA</b></td>
        <td><b>R</b></td>
        <td><b>ERA</b></td>
    </tr>
    {% for player in pitching_leaders %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.g }}</td>
            <td>{{ player.outs // 3 }}.{{ player.outs % 3 }}</td>
            <td>{{ player.k }}</td>
            <td>{{ '%.1f' % player.k9 }}</td>
            <td>{{ player.bb }}</td>
            <td>{{ '%.1f' % player.bb9 }}</td>
            <td>{{ '%.3f' % player.baa }}</td>
            <td>{{ player.r }}</td>
            <td>{{ '%.2f' % player.era }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}