{% extends "layout.html" %}
{% block title %}Set batting order{% endblock %}

{% block content %}
{% if error_message %}
    <fieldset class="text">
        {{ error_message }}
    </fieldset>
    <br>
    <br>
{% endif %}
<form id="order" action="/games/order/{{ game_id }}" method="POST">
    <fieldset>
        <legend>Home team:</legend>
        <p>Batting order: </p>
        {% for i in range(h_players|length) %}
            <p><label for="h_order">{{ i+1 }}: </label>
            <select name="h_order">
                <option value="None">None</option>
                {% for player in h_players %}
                    <option value="{{ player[0] }}" {% if h_order[i] == player[0] %} selected {% endif %}>{{ player[1] }}</option>
                {% endfor %}
            </select></p>
        {% endfor %}
        <p><label for="h_pitcher">Starting pitcher: </label></p>
        <select name="h_pitcher">
            {% for player in h_players %}
                <option value="{{ player[0] }}" {% if h_pitcher == player[0] %} selected {% endif %}>{{ player[1] }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend>Away team:</legend>
        <p>Batting order: </p>
        {% for i in range(a_players|length) %}
            <p><label for="a_order">{{ i+1 }}: </label>
            <select name="a_order">
                <option value="None">None</option>
                {% for player in a_players %}
                    <option value="{{ player[0] }}" {% if a_order[i] == player[0] %} selected {% endif %}>{{ player[1] }}</option>
                {% endfor %}
            </select></p>
        {% endfor %}
        <p><label for="a_pitcher">Starting pitcher: </label></p>
        <select name="a_pitcher">
            {% for player in a_players %}
                <option value="{{ player[0] }}" {% if a_pitcher == player[0] %} selected {% endif %}>{{ player[1] }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input id="button" type="submit" value="Start game">
</form>
{% endblock %}