{% extends "layout.html" %}
{% block title %}Registration{% endblock %}

{% block content %}
{% if error_message %}
    <fieldset class="text">
        {{ error_message }}
    </fieldset>
    <br>
    <br>
{% endif %}
<form id="users" action="/register" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <label for="password1">Password: </label>
    <input type="password" name="password1">
    <label for="password2">Confirm password: </label>
    <input type="password" name="password2">
    <input id="login-button" type="submit" value="Register">
</form>
{% endblock %}