{% extends "layout.html" %}
{% block title %}{{ team[1] }}{% endblock %}

{% block content %}
<h2>{{ team[1] }}</h2>
<table class="score">
    <tr>
        <td><b>Wins</b></td>
        <td><b>Losses</b></td>
        <td><b>Win rate</b></td>
    </tr>
    <tr>
        <td>{{ record.wins }}</td>
        <td>{{ record.losses }}</td>
        {% if record.wins+record.losses == 0 %}
            <td>.000</td>
        {% else %}
        <td>{{ '%.3f' % (record.wins / (record.wins + record.losses)) }}</td>
        {% endif %}
    </tr>
</table>
<br>
<table class="score" style="margin-left: 0;">
    <tr>
        <td colspan="100%" style="text-align: center;"><h3>Batting stats</h3></td>
    </tr>
    <tr>
        <td><b>Name</b></td>
        <td><b>PA</b></td>
        <td><b>AB</b></td>
        <td><b>H</b></td>
        <td><b>BB</b></td>
        <td><b>Avg</b></td>
        <td><b>OBP</b></td>
        <td><b>SLG</b></td>
        <td><b>OPS</b></td>
        <td><b>HR</b></td>
    </tr>
    {% for player in team_players %}
        <tr>
            <td><a href="/players/{{ player.id }}">{{ player.name }}</a></td>
            <td>{{ player.pa }}</td>
            <td>{{ player.pa - player.walks }}</td>
            <td>{{ player.hits }}</td>
            <td>{{ player.walks }}</td>
            {% if player.pa - player.walks == 0 %}
                <td>.000</td>
            {% else %}
                <td>{{ '%.3f' % (player.hits / (player.pa - player.walks)) }}</td>
            {% endif %}
            {% if player.pa == 0 %}
                <td>.000</td>
            {% else %}
                <td>{{ '%.3f' % ((player.hits + player.walks) / player.pa) }}</td>
            {% endif %}
            {% if player.pa - player.walks == 0 %}
                <td>.000</td>
            {% else %}
                <td>{{ '%.3f' % ((player.singles + 2*player.doubles + 3*player.triples + 4*player.hr) / (player.pa - player.walks)) }}</td>
            {% endif %}
            {% if player.pa == 0 %}
                <td>.000</td>
            {% elif player.pa - player.walks == 0 and player.pa != 0 %}
                <td>{{ '%.3f' % (player.walks / player.pa) }}</td>
            {% else %}
                <td>{{ '%.3f' % (((player.hits + player.walks) / player.pa) + 
                    ((player.singles + 2*player.doubles + 3*player.triples + 4*player.hr) / (player.pa - player.walks))) }}</td>
            {% endif %}
            <td>{{ player.hr }}</td>
        </tr>
    {% endfor %}
</table>
{% if session.user_id %}
    <h3>Add player</h3>
    <form id="players" action="/teams/{{ team[0] }}" method="POST">
        <label for="players">Choose a player: </label>
        <select name="players">
        {% for player in teamless %}
            <option value="{{ player[0] }}">{{ player[1] }}</option>
        {% endfor %}
        </select>
        <input id="button" type="submit" value="Add player">
    </form>
    <br>
    <h3>Move player from another team</h3>
    <form id="move" action="/teams/{{ team[0] }}" method="POST">
        <label for="move">Choose a player: </label>
        <select name="move">
        {% for player in others %}
            <option value="{{ player[0] }}">{{ player[1] }}, {{ player[2] }}</option>
        {% endfor %}
        </select>
        <input id="button" type="submit" value="Move player">
    </form>
{% endif %}
{% endblock %}